<h1>Groups#edit</h1>
<p>Find me in app/views/groups/edit.html.erb</p>

<div class='card'>
  <h2>edit group</h2>

  <%= form_for @group do |f| %>
      <div>Name</div>
      <div><%= f.text_field :name %></div>
      <div>Description</div>
      <div><%= f.text_area :description %></div>
      <div><%= f.submit "save changes"%></div>
      <%end%>

  <%= link_to 'Delete', group_path(@group), method: :delete, data:
  { confirm: 'Are you sure? This will delete all posts in the group.' } %>
</div>
