<div class='card text-center card-background'>
<div class='inner-card-background'>
<% if teacher_signed_in? %>

  <%= form_for @group do |f| %>
      <%= f.label :name %>
      <div><%= f.text_field :name %></div>

      <%= f.label :description %>
      <div><%= f.text_area  :description %></div>
      <!-- <div class="field">
        <%= f.label :group_images %><br />
        <%= f.file_field :pictures, multiple:true, direct_upload: true %>
      </div> -->
      <%= f.submit "create group"%>
      <%end%>
<% else %>
  <h2>Sorry! You must be signed in to create a group</h2>
<% end %>
</div>
</div>
