
<%= form_for @group do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area  :description %>
    <div class="field">
      <%= f.label :group_images %><br />
      <%= f.file_field :pictures, multiple:true, direct_upload: true %>
    </div>
    <%= f.submit "create group"%>
    <%end%>
