<div id="groups-show-wrapper" >


  <div id='group-info'>
    <div class="card text-center card-background">

    <div class="inner-card-background">

  <% @group.pictures.each do |i| %>
    <%= image_tag i %>
  <%end%>
  <h1><%= @group.name %></h1>

  <% if teacher_signed_in? && @group.teacher_id == current_teacher.id %>
    <%= link_to "Edit Group", "/groups/#{@group.id}/edit", class:"btn btn-primary" %>
    <%else%>
    <h4>Created by:
      <%= link_to "#{Teacher.find(@group.teacher_id).username}", "/teachers/#{Teacher.find(@group.teacher_id).id}", class:"" %>
    </h4>
  <%end%>

  <p><%= @group.description %></p>

  <% if teacher_signed_in? %>
  <% if @membership_cancel != nil%>
    <%= link_to 'leave group', membership_path(@membership_cancel), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
    <%= form_for @membership do |f| %>
      <%= hidden_field_tag(:group_id, @group.id) %>
      <%= f.submit "join group", class: "btn btn-primary"%>
    <%end%>
  <%end%>
  <%end%>
</div>
</div>
  </div>
<div id='members-list'>
<%= form_tag("/groups/#{@group.id}", method: "get") do %>
  <%= label_tag(:q_members, "search members") %>
  <%= text_field_tag(:q_members) %>
  <%= submit_tag "search", class:"btn btn-primary", name: nil %>
<% end %>

<div class="">
  <h3>members(<%=@group.memberships.count%>):</h3>
  <% @teachers.each do |t| %>
    <%= link_to "#{t.username}", "/teachers/#{t.id}", class:"" %>
  <% end %>
</div>
</div>

<div id='post-list' class="text-center">
<%= form_tag("/groups/#{@group.id}", method: "get") do %>
  <%= label_tag(:q_posts, "search posts") %>
  <%= text_field_tag(:q_posts) %>
  <%= submit_tag "search", class: "btn btn-primary", name: nil %>
<% end %>

<% if teacher_signed_in? && @membership_cancel != nil%>
<div>
  <%= link_to "create post in #{@group.name}", "/groups/#{@group.id}/posts/new", class: "btn btn-primary" %>
</div>
<% else %>
 <div>join group to create and respond to posts!</div>
<%end%>

<h3>Posts:</h3>
<% @posts.reverse.take(5).each do |o| %>
 <div class='card'>
  <% if o.images[0] != nil %>
    <div><%= image_tag o.images[0] %></div>
  <% end %>
  <%= link_to "#{o.title}", "/groups/#{@group.id}/posts/#{o.id}", class:"" %>
  <div><%= o.description%></div>
  <% if o.price == 0 %>
    <div class='free-post'>FREE</div>
  <% else %>
    <div>$<%= o.price%></div>
  <% end %>
</div>
<% end %>
</div>
