<% if @review.teacher_id == current_teacher.id %>
<div class="card text-center card-background">

<div class="inner-card-background">

  <h2>edit review</h2>

  <% @review.pictures.each_with_index do |ph, i| %>
  <%= image_tag ph %>
  <div><%= link_to 'Remove', "/reviews/#{@review.id}/delete_picture_attachment/#{i}",
                method: :delete,
                data: { confirm: 'Are you sure?' } %></div>
  <%end%>


  <%= form_for @review do |f| %>
      <div>product</div>
      <div><%= f.text_field :product %></div>
      <div>content</div>
      <div><%= f.text_area :content %></div>
      <div class="field">
        <%= f.label :upload_images %><br />
        <%= f.file_field :images, multiple:true, direct_upload: true %>
      </div>
      <div><%= f.submit "save changes"%></div>
      <%end%>

  <%= link_to 'Delete', review_path(@review), method: :delete, data:
  { confirm: 'Are you sure?' } %>
</div>
</div>

<% else %>

<h2>Sorry! You must be the owner of the review to edit</h2>

<% end %>
