
<div id='review-index-wrapper'>
<div>
  <h3>recent reviews</h3>
  <div class="">search reviews</div>
  <%= form_tag("/reviews", method: "get") do %>
    <%= text_field_tag(:q_review)%>
    <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
  <% end %>

  <% @reviews.reverse.take(5).each do |r| %>
    <div class='card text-center'>
      <% if r.pictures[0] != nil %>
        <div><%= image_tag r.pictures[0] %></div>
      <% end %>
      <%= link_to "#{r.product}", "/reviews/#{r.id}", class:"" %>
      Written by: <a href="/teachers/<%=r.teacher_id%>"><%= Teacher.find(r.teacher_id).username %></a>

    </div>
  <% end %>
</div>

<div class="">
  <% if teacher_signed_in? %>
  <div>
    <h3>your groups</h3>
      <% current_teacher.groups.each do |g|%>
        <div><%= link_to "#{g.name}", "/groups/#{g.id}", class:"" %></div>
      <%end%>
    <!-- <h3>groups you created:</h3>
      <% Group.where("teacher_id = #{current_teacher.id}").each do |g|%>
        <div><%= link_to "#{g.name}", "/groups/#{g.id}", class:"" %></div>
      <%end%> -->
      <hr>
  </div>
  <%end%>

  <h3>all groups</h3>
  <div class="">
    search groups
  </div>
  <%= form_tag("/reviews", method: "get") do %>
    <%= text_field_tag(:q_group) %>
    <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
  <% end %>
  <% @groups.reverse.take(10).each do |g| %>
    <div><%= link_to "#{g.name}", "/groups/#{g.id}", class:"" %></div>
  <% end %>
</div>
</div>
