<div id='review-index-wrapper'>
<div>
  <%= form_tag("/reviews", method: "get") do %>
    <%= label_tag(:q_review, "Search reviews") %>
    <%= text_field_tag(:q_review) %>
    <%= submit_tag "Search", name: nil %>
  <% end %>

  <% @reviews.reverse.take(5).each do |r| %>
    <div>
      <% if r.pictures[0] != nil %>
        <div><%= image_tag r.pictures[0] %></div>
      <% end %>
      <%= link_to "#{r.product}", "/reviews/#{r.id}", class:"" %>
      Written by: <%= Teacher.find(r.teacher_id).username %>

    </div>
  <% end %>
</div>

<div class="">
  <% if teacher_signed_in? %>
  <div>
    <div>your groups:</div>
      <% current_teacher.groups.each do |g|%>
        <div><%= link_to "#{g.name}", "/groups/#{g.id}", class:"" %></div>
      <%end%>
  </div>
  <%end%>
  <%= form_tag("/reviews", method: "get") do %>
    <%= label_tag(:q_group, "search groups") %>
    <%= text_field_tag(:q_group) %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
  <div>all groups:</div>
  <% @groups.reverse.take(10).each do |g| %>
    <%= link_to "#{g.name}", "/groups/#{g.id}", class:"" %>
    <div><%= g.description %></div>
  <% end %>
</div>
</div>
