<% if teacher_signed_in? %>

  <%= form_for @review do |f| %>
    <%= f.label :product %>
    <%= f.text_field :product %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <div class="field">
      <%= f.label :upload_images %><br />
      <%= f.file_field :pictures, multiple:true, direct_upload: true %>
    </div>

    <%= f.submit "create review"%>
  <%end%>

<% else %>

  <h2>Sorry! You must be signed in to write a review</h2>

<% end %>
