
<div class="card text-center card-background">

<div class="inner-card-background">


  <%= form_for(@review, multipart: true) do |f| %>
    <%= f.label :product %>
    <div><%= f.text_field :product %></div>

    <%= f.label :content %>
    <div><%= f.text_area :content %></div>

    <div >
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>


    <%= f.submit "create review"%>
  <%end%>

</div>
</div>
