<div class="card text-center card-background">

<div class="inner-card-background">
<% @review.pictures.each do |i| %>
<%= image_tag i %>
<%end%>
<div>Product: <%= @review.product %></div>
<div><%= @review.content %></div>
<div><a href="/teachers/<%= @review.teacher_id %>">-<%= Teacher.find(@review.teacher_id).username %></a></div>

<hr>
<h3 class="">comments:</h3>
<hr>
<% @review.review_comments.each do |c| %>
<%= c.content %>
<a href="/teachers/<%= c.teacher_id %>"><%= Teacher.find(c.teacher_id).username%></a>
  <% if teacher_signed_in? && c.teacher_id == current_teacher.id %>
    <%= link_to "edit", "/reviews/#{@review.id}/review_comments/#{c.id}/edit", class:"" %>
  <% end %>
  <hr>
<%end%>

<% if teacher_signed_in? %>
<!-- <div class="comment-btns">click to comment</div> -->
    <div class=''>
      <%= form_for [@review, @review_comment] do |f| %>
          comment:<%= f.text_field :content %>
          <%= f.submit id: ""  "post comment"%>
      <%end%>
    </div>
    <% if @review.teacher_id == current_teacher.id %>
      <%= link_to "Edit review", "/reviews/#{@review.id}/edit", class:"" %>
    <% end %>
<% end %>
</div>
</div>
