<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>

<% @review.pictures.each do |i| %>
<%= image_tag i %>
<%end%>
<div><%= @review.product %></div>
<p><%= @review.content %></p>

<% @review.review_comments.each do |c| %>
<%= c.content %>
<%= Teacher.find(c.teacher_id).username%>
<%= link_to "edit", "/reviews/#{@review.id}/review_comments/#{c.id}/edit", class:"" %>
<%end%>

<div class="comment-btns">click to comment</div>
    <div class=''>
      <%= form_for [@review, @review_comment] do |f| %>
          comment:<%= f.text_field :content %>
          <%= f.submit id: ""  "post comment"%>
      <%end%>
    </div>
<%= link_to "Edit review", "/reviews/#{@review.id}/edit", class:"" %>
